:root {
  --primary-color: rgb(20, 44, 97);
  --light-primary-background-color: rgba(93, 144, 161, 0.4);
  --dark-primary-color: rgb(20, 44, 97);
  --background-color: rgba(103, 129, 129, 0.3);
  --disable-color: 150, 170, 196;
  --shadow: 0, 0, 0;
  --hover-link-color: rgb(100, 60, 136);
  --bg-image: url('/rm309-adj-14.jpg');
}

[data-theme='dark'] {
  --primary-color: rgb(240, 240, 240);
  --light-primary-background-color: rgb(47, 13, 32);
  --background-color: rgb(20, 20, 20);
  --disable-color: 90, 75, 75;
  --shadow: 255, 255, 255;
  --hover-link-color: lightblue;
  --bg-image: url('/bg-dark.jpg');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2,
a {
  color: var(--primary-color);
}

.wrapper {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.center {
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: end;
}

.left {
  align-items: start;
  text-align: start;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
  width: calc(100% - 250px);
}

.column {
  flex-direction: column;
}

.material-symbols-outlined {
  cursor: pointer;
  transition: color 0.3s ease;
  user-select: none;
  color: var(--primary-color);
}

.material-symbols-outlined.disabled {
  pointer-events: none;
  cursor: auto;
  color: var(--disable-color);
}

.material-symbols-outlined:hover {
  color: var(--hover-link-color);
  transform: scale(1.2);
}

.info-message {
  font-size: 2.8rem;
  color: var(--primary-color);
}

.input {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.4rem;
}

.search_input {
  border: 1px solid var(--primary-color);
  width: 50%;
}

.paginate_input {
  border: 1px;
  margin: 0 15px;
  width: 110px;
  text-align: center;
  color: var(--primary-color);
  user-select: none;
}

.header,
.footer {
  height: 60px;
  padding: 10px 20px 0 20px;
  align-items: center;
  color: var(--primary-color);
}
